@import "tailwindcss";
@import "tw-animate-css";

@import "./theme.css";
@import "./utilities.css";

@plugin "@tailwindcss/typography";

@variant dark (&:where(.dark, .dark *));
@variant in-view (:where(*:is([data-in-view])) &);

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
