@utility container {
  margin-inline: auto;
  padding-inline: 2rem;
}

@utility blur-in-* {
  --tw-enter-blur: calc(1px * --value(number));
}

@utility counter-inc-* {
  counter-increment: --value([*]);
}

@utility counter-reset-* {
  counter-reset: --value([*]);
}

@utility counter-set-* {
  counter-set: --value([*]);
}

@utility stagger-* {
  --tw-animation-stagger: calc(--value(number) * 1ms);
}

@utility stagger-from-* {
  --tw-animation-stagger-from: calc(--value(number) * 1ms);
}

@utility animate-* {
  --tw-animation-index: --value(number, [number]);
  --tw-animation-delay: calc(
    var(--tw-animation-stagger-from, 0s) +
      (var(--tw-animation-stagger) * var(--tw-animation-index))
  );
}
