---
import DottedMap, { type Connection } from "./DottedMap.astro";
import Noise from "./Noise.astro";

const leftConnections: Connection[] = [
  {
    start: { lat: 39.9075, lng: 116.3972 }, // Beijing, China
    end: { lat: -37.814, lng: 144.9633 }, // Melbourne, Australia
  },
  {
    start: { lat: 39.9075, lng: 116.3972 }, // Beijing, China
    end: { lat: -6.2, lng: 106.816666 }, // Jakarta, Indonesia
  },
  {
    start: { lat: 35.6895, lng: 139.6917 }, // Tokyo, Japan
    end: { lat: 39.9075, lng: 116.3972 }, // Beijing, China
  },
  {
    start: { lat: 35.6895, lng: 139.6917 }, // Tokyo, Japan
    end: { lat: 52.0317, lng: 113.5009 }, // Chita, Russia
  },
  {
    start: { lat: 48.857548, lng: 2.351377 }, // Paris, France
    end: { lat: -6.2, lng: 106.816666 }, // Jakarta, Indonesia
  },
];

const rightConnections: Connection[] = [
  {
    start: { lat: 19.432608, lng: -99.133208 }, // Mexico City, Mexico
    end: { lat: -25.26374, lng: -57.575926 }, // Asuncion, Paraguay
  },
  {
    start: { lat: 45.501887, lng: -73.567392 }, // Montreal, Canada
    end: { lat: 19.432608, lng: -99.133208 }, // Mexico City, Mexico
  },
  {
    start: { lat: 34.054908, lng: -118.3286614 }, // Los Angeles, CA USA
    end: { lat: 19.432608, lng: -99.133208 }, // Mexico City, Mexico
  },
  {
    start: { lat: 61.217576, lng: -149.899678 }, // Anchorage, Alaska USA
    end: { lat: 45.501887, lng: -73.567392 }, // Montreal, Canada
  },
];
---

<div
  class="@container-[size] relative h-175 overflow-hidden bg-linear-to-b from-green-800 to-green-700 [clip-path:polygon(0_0%,100%_0,100%_97%,0%_100%)]"
>
  <Noise class="absolute inset-0" />

  <div class="flex h-full flex-row items-center justify-center md:-space-x-48">
    <!-- Left Map -->

    <div
      class="pointer-events-none aspect-[2] h-[100cqh] shrink-0 translate-y-8 max-md:absolute max-md:z-10 max-md:opacity-30 md:-translate-x-12"
    >
      <DottedMap
        class="text-primary-foreground/30"
        dotRadius={0.45}
        stagger
        lineColor="#ffffff"
        mapSamples={3500}
        connections={leftConnections}
      />
    </div>

    <div class="max-md:w-full md:shrink-0">
      <slot />
    </div>

    <!-- Right Map -->
    <div
      class="pointer-events-none aspect-[2] h-[100cqh] shrink-0 translate-y-8 max-md:hidden"
    >
      <DottedMap
        stagger
        mapSamples={3500}
        class="text-primary-foreground/30"
        dotRadius={0.45}
        lineColor="#ffffff"
        connections={rightConnections}
      />
    </div>
  </div>
</div>
