---
import { getImage } from "astro:assets";
import type { HTMLAttributes } from "astro/types";

import noise from "@/assets/png/noise.png";

import { cn, cssVars } from "@/lib/utils";
import { url } from "@/lib/units";

type Props = HTMLAttributes<"div">;

const { class: className, ...props } = Astro.props;

const noiseBg = await getImage({ src: noise });
---

<div
  {...props}
  class={cn("bg-(image:--bg) bg-size-[72px] bg-repeat", className)}
  style={cssVars({ bg: url(noiseBg.src) })}
>
</div>
