---
import type { Props as BaseLayoutProps } from "@/layouts/BaseLayout.astro";

import { Image } from "astro:assets";

import { Navigation } from "@/components/Navigation";

import header from "@/assets/png/header-logo.png";

import Footer from "@/components/Footer.astro";

import BaseLayout from "./BaseLayout.astro";
import { Typography } from "@/components/ui/Typography";

export interface Props extends BaseLayoutProps {}
---

<BaseLayout {...Astro.props}>
  <main>
    <Navigation client:load />
    <header
      class="to-primary relative overflow-hidden bg-linear-to-b from-green-800 py-24"
    >
      <div
        class="dark container grid grid-cols-2 max-md:grid-cols-1 max-md:justify-items-center max-md:text-center"
      >
        <Typography variant="display" size="lg" className="text-[4rem]">
          {Astro.props.title}
        </Typography>

        <div class="relative">
          <Image
            alt="t-0 Logo"
            class="absolute top-0 left-0 -translate-y-1/6 scale-120 max-md:left-1/2 max-md:-translate-x-1/2 max-md:opacity-50 md:translate-x-1/4 md:scale-150"
            width={1024}
            layout="fixed"
            src={header}
          />
        </div>
      </div>
    </header>
    <slot />
    <Footer />
  </main>
</BaseLayout>
