---
import type { Props as BaseLayoutProps } from "@/layouts/BaseLayout.astro";

import { Image } from "astro:assets";

import { Typography } from "@/components/ui/Typography";

import header from "@/assets/png/header-logo.png";

import Noise from "@/components/Noise.astro";

import PageLayout from "./PageLayout.astro";

export interface Props extends BaseLayoutProps {}
---

<PageLayout templated {...Astro.props}>
  <header
    class="to-primary relative overflow-hidden bg-linear-to-b from-green-800 py-24"
  >
    <div
      class="dark container grid grid-cols-2 max-md:grid-cols-1 max-md:justify-items-center max-md:text-center"
    >
      <Typography
        variant="display"
        size="lg"
        className="relative z-20 text-[4rem] leading-none"
      >
        {Astro.props.title}
      </Typography>

      <Noise class="absolute inset-0 z-10" />

      <div class="relative max-md:absolute max-md:inset-0">
        <Image
          alt="t-0 Logo"
          title="t-0 Logo"
          class="absolute top-0 left-0 translate-x-1/4 -translate-y-1/8 scale-150 max-md:top-0 max-md:left-1/2 max-md:-translate-x-1/2 max-md:translate-y-1/4 max-md:opacity-50 md:scale-120"
          width={1024}
          layout="fixed"
          src={header}
        />
      </div>
    </div>
  </header>
  <slot />
</PageLayout>
