---
import { ExampleNavigation } from "@/fragments/ExampleNavigation";
import type { Props as BaseLayoutProps } from "@/layouts/BaseLayout.astro";
import BaseLayout from "./BaseLayout.astro";

export interface Props extends BaseLayoutProps {}
---

<BaseLayout {...Astro.props}>
  <main>
    <ExampleNavigation client:load />
    <slot />
  </main>
</BaseLayout>
